* {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}
.menu {
    height: 100vh;
    position: fixed;
}
.content_form {
<<<<<<< HEAD
    background-color: rgb(39, 162, 179);
    margin-left: 23%;
=======
    background-color: rgb(255, 255, 255);
    margin-left: 25%;
>>>>>>> ad5344f3a9506b7e492e2fe9e55f77143afdbc3d
    padding: 70px  30px;
}
ul {
    padding: 30px;
    list-style: none;
    font-size: 1em;
    display: block;
    text-decoration: none;
}
li {
    padding: 30px 10px 0 30px;
    text-align: left;
    text-decoration: none;
}
nav{
<<<<<<< HEAD
    background: rgb(0, 0, 0);
=======
    background: rgba(39, 38, 38, 0.671);
>>>>>>> ad5344f3a9506b7e492e2fe9e55f77143afdbc3d
    height: 100%;
    width: 25%;
}
a {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
}
a:hover {
    color: rgb(65, 212, 176);
}
label {
    height: 30px;
    color: #000;
}
input {
    height: 40px;
}
.fa-arrow-left {
    font-size: 2em;
}
@media (max-width: 600px){
    nav{
        padding-top: 30px;
        background: rgb(2, 1, 1);
        height: 100%;
        width: 40%;
    } 
    .content_form {
        background-color: rgb(251, 44, 29);
        margin-left: 40%;
        padding: 20px  30px;
    } 
    li {
        padding: 30px 10px 0 30px;
        text-align: left;
        text-decoration: none;
     }
    ul {
    padding: 10px;
    list-style: none;
    font-size: 1em;
    display: block;
    text-decoration: none;
    }
}
@media (max-width: 1000px){
    nav{
        padding-top: 30px;
        background: rgb(2, 1, 1);;
        height: 100%;
        width: 35%;
    } 
    .content_form {
        background-color: rgb(12, 224, 224);
        margin-left: 35%;
        padding: 20px  30px;
    } 
    li {
        padding: 30px 10px 0 30px;
        text-align: left;
        text-decoration: none;
   }
}