.box-style-1 {
    background: rgb(80, 80, 80);
}
.box-style-2 {
    background: rgb(80, 80, 80);
    height: 300px;
}
.box-style-3 {
    background: rgb(80, 80, 80);
    height: 300px;
}
.flex-direction-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.flex-direction-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.flex-wrap {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.flex-no-wrap {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap; 
}
.flex-flow-column-wrap {
    display: flex;
    gap: 20px;
    flex-flow: column wrap;
    overflow: scroll;
}
.flex-flow-column-no-wrap {
    display: flex;
    gap: 20px;
    flex-flow: column nowrap;
}
.flex-justify-space-between {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.flex-justify-space-around {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.flex-justify-space-evenly {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
.flex-justify-flex-start {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}
.flex-justify-flex-end {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.flex-justify-flex-center {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.aling-items-flex-start {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.aling-items-flex-end {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}
.aling-items-center {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.item-flex {
    background-color: rgb(4, 158, 158);
    width: 200px;
    height: 200px;
    margin: 20px;
    color: white;
    font-size: 1.5em;
}
.item-flex-3 {
    background-color: rgb(4, 158, 158);
    width: 200px;
    height: 250px;
    color: white;
    font-size: 1.5em;
}