body {
    margin: 0 4em;
}
h1 {
    text-align: center;
    font-size: 3em;
}
.texto-margenes {
    /*afecta lo 4 lados*/
    /*margin: 3em;*/
    /*afecta los 4 lados individalmente pero lo declaro en una sola linea*/
    /*margin: 4em 8em 2em 3em;*/
    /*afecta los 4 lados declarados en 2 valores*/
   /* margin: 1em 8em;*/
   /*declarando los 4 lados de forma explicita individualmente*/
  /* margin-top: 2em;
   margin-bottom: o;
   margin-left: 4em;
   margin-right: 3em;*/
    text-align: justify;
    font-size: 1.5em;
}
.parrafo-borde1 {
    font-size: 1.5em;
    text-align: justify;
    border: 3px solid rgba(30, 173, 102, 0.712);
}
.parrafo-borde2 {
    margin-top: 2.5em;
    font-size: 1.5em;
    text-align: justify;
    border-top: 3px solid magenta;
}
.parrafo-borde3 {
    margin-top: 2.5em;
    font-size: 1.5em;
    text-align: justify;
    border-left: 3px solid cyan;
    border-right: 3px solid cyan;
} 
.parrafo-padding1 {
    font-size: 1.5em;
    text-align: justify;
    border: 3px solid rgba(30, 173, 102, 0.712);
    padding: 1.3em;
    background-color: rgba(30, 173, 102, 0.712);
    color: white;
    /*letter-spacing: 0.1em;*/
    line-height: 1.4em;
    font-family: 'Times New Roman', Times, serif;
}
.parrafo-padding2 {
    margin-top: 2.5em;
    font-size: 1.5em;
    text-align: justify;
    border-top: 3px solid magenta;
    padding-top: 2em;
}
.parrafo-padding3 {
    margin-top: 2.5em;
    font-size: 1.5em;
    text-align: justify;
    border-left: 3px solid cyan;
    border-right: 3px solid cyan;
    padding: 0 2.5em;
}