* {
    margin: 0;
    padding: 0;
}
.main-content {
    display: grid;
    width: 100%;
    background-color: teal;
    grid-template: "empty-top    empty-top    empty-top    empty-top" 50px
                   "empty-izq    img-bme      info-libro   empty-der" auto/
                    50px         200px        300px        1fr;
}
.img-bme {
    grid-area: img-bme;
    display: grid;
    width: 100%;
}
.info-libro {
    grid-area: info-libro;
    width: 100%;
}
.menos {
    grid-area: ;
}