h3 {
    text-align: center;
    color: teal;
    font-family: 'Times New Roman', Times, serif;
}
fieldset {
    width: 15%;
    height: 200px;
    display: block;
    margin: 0 auto;
    background-color: rgb(147, 243, 235);
    border-radius: 8px;
    border: 3px solid rgb(5, 91, 94);
    color: black;
    font-size: 1.3em;
    line-height: 1.8em;
}
input {
    font-size: 1em;
    line-height: 1em;
    margin: 0 auto;
    
}
.formulario {
   width: 90%;
   margin: 0 auto;
   
}
.btn {
    background-color: rgb(255, 255, 255);
    color: rgb(2, 83, 83);
    border: 3px solid rgb(1, 94, 94);
}